body {
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: 15.5px;
    background-color: #343541;  /* Updated background color */
    color: #ececdf;  /* Updated font color */
    text-shadow: none;
    padding: 10px 20px;
    border-radius: 15px;
}
    
h2 {
    color: #00d8f3;
}

input[type="text"] {
    padding: 8px;
    width: 300px;
    margin-right: 10px;
    background-color: #fdf800;
    color: black;
}

button {
    padding: 8px 15px;
    background-color: #fdf800;
    color: black;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}