body {
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: 15.5px;
    background-color: #fdf800;
    color: black;
    text-shadow: none;
    padding: 10px 20px;
    border-radius: 15px;
}

.status {
    color: #4caf50;
    font-weight: bold;
}

h2 {
    color: #00d8f3;
}

p {
    color: #00d8f3;
}

#obfuscatedApiKey {
    background-color: #fdf800;
    color: black;
    padding: 5px;
    border-radius: 3px;
    font-family: 'Courier New', monospace;
}